.. _autodoc_all:

.. vale off

All keyword class summaries
###########################

{% for classname, filename in entries %}

{{ classname }}
{{ "=" * classname|length }}

.. automodule:: ansys.dyna.core.keywords.keyword_classes.auto.{{ filename }}
    :members:

{% endfor %}

.. vale on
