{#
  Main keyword class template.

  Generates:
  1. License and imports
  2. CardSet classes (if any)
  3. Schema definitions for regular Cards
  4. Main keyword class with __init__ and properties
#}
{% include 'keyword/imports.j2' %}

{# Generate CardSet classes before the main class #}
{% if keyword_data.card_sets %}
{% for card_set in keyword_data.card_sets.sets %}
{% include 'keyword/card_set_class.j2' %}

{% endfor %}
{% endif %}
{# Generate schema definitions for regular Cards in the main keyword class #}
{% for card in keyword_data.cards %}
{% if not card.variable and not card.set and not card.table and not card.table_group and not card.external %}
_{{keyword_data.classname | upper}}_CARD{{loop.index0}} = (
{% for field in card.fields %}
    FieldSchema("{{field.name}}", {{field.type}}, {{field.position}}, {{field.width}}, {% if field.default is not none %}{{field.default}}{% else %}None{% endif %}),
{% endfor %}
)

{% endif %}
{% endfor %}
{% include 'keyword/class_header.j2' %}

{% include 'keyword/init_method.j2' %}

{# CardSet property passthroughs #}
{% for card in keyword_data.cards %}
{% if card.set %}
{% for card_set in keyword_data.card_sets.sets %}
{% if card_set.name == card.set.name %}
{% for card in card_set.source_cards %}
{% include 'keyword/card_set_property_passthrough.j2' %}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{# Regular card properties #}
{% for card in keyword_data.cards %}
{% include 'keyword/card_properties.j2' %}
{% endfor %}
{# Option card properties #}
{% if keyword_data.options %}
{% for option in keyword_data.options %}
{% include 'keyword/option_card_properties.j2' %}
{% endfor %}
{% endif %}
{# Link properties #}
{% with links = keyword_data.links %}
{% include 'keyword/links.j2' %}
{% endwith %}
{# Alias class #}
{% include 'keyword/alias.j2' %}

