{#
  Card template dispatcher - routes to the appropriate card type template.

  Card types:
  - SeriesCard: Variable-length series of values (card.variable)
  - CardSet reference: Nested CardSet within a CardSet (card.set)
  - TableCard: DataFrame-backed card (card.table)
  - TableCardGroup: Group of cards that repeat together (card.table_group)
  - External: Externally implemented card (card.external)
  - Card from schema: Optimized Card using FieldSchema (inside CardSet)
  - Card with fields: Legacy Card with Field objects (top-level)
#}
{% if card.variable %}
{% include 'keyword/card_types/series_card.j2' %}
{% elif card.set %}
{% include 'keyword/card_types/card_set_ref.j2' %}
{% elif card.table %}
{% include 'keyword/card_types/table_card.j2' %}
{% elif card.table_group %}
{% include 'keyword/card_types/table_card_group.j2' %}
{% elif card.external %}
            {{card.external.name}}(**kwargs)
{% elif parent_name is defined and card_index is defined %}
{% include 'keyword/card_types/card_from_schema.j2' %}
{% else %}
{% include 'keyword/card_types/card_with_fields.j2' %}
{% endif %}
