{% if card.table %}
    @property
    def {{card.table.name}}(self) -> pd.DataFrame:
        """Get the {{card.table.name}}."""
        ensure_card_set_properties(self, False)
        return self.sets[0].{{card.table.name}}

    @{{card.table.name}}.setter
    def {{card.table.name}}(self, df: pd.DataFrame):
        ensure_card_set_properties(self, True)
        self.sets[0].{{card.table.name}} = df

{% elif card.variable %}
    @property
    def {{card.variable.name}}(self) -> SeriesCard:
        """Gets the {{card.variable.name}}."""
        ensure_card_set_properties(self, False)
        return self.sets[0].{{card.variable.name}}

    @{{card.variable.name}}.setter
    def {{card.variable.name}}(self, value: typing.List) -> None:
        ensure_card_set_properties(self, True)
        self.sets[0].{{card.variable.name}} = value

{% elif card.set %}
{% elif card.table_group %}
    @property
    def {{card.overall_name}}(self) -> pd.DataFrame:
        """Get or set the {{card.overall_name}}."""
        ensure_card_set_properties(self, False)
        return self.sets[0].{{card.overall_name}}

    @{{card.overall_name}}.setter
    def {{card.overall_name}}(self, df: pd.DataFrame):
        ensure_card_set_properties(self, True)
        self.sets[0].{{card.overall_name}} = df

{% elif card.external %}
{% else %}
{% for field in card.fields %}
{% if field.used %}
{% if not field.redundant %}
    @property
    def {{field.property_name}}(self) -> {%- if field.default is none %} typing.Optional[
                {%- else %} {% endif %}{{field.type}}{%- if field.default is none %}]{%- endif %}:
        """Get or set the {{field.property_name}}
        """ # nopep8
        ensure_card_set_properties(self, False)
        return self.sets[0].{{field.property_name}}

{% if not field.readonly %}
    @{{field.property_name}}.setter
    def {{field.property_name}}(self, value: {{field.type}}) -> None:
        ensure_card_set_properties(self, True)
        self.sets[0].{{field.property_name}} = value

{% endif %}{# not field.readonly #}
{% endif %}{# not field.redundant #}
{% endif %}{# field.used #}
{% endfor %}
{% endif %}