{% if card.table %}
    @property
    def {{card.table.name}}(self) -> pd.DataFrame:
        """Get the table of {{card.table.name}}."""
        return self._cards[{{card.index}}].table

    @{{card.table.name}}.setter
    def {{card.table.name}}(self, df: pd.DataFrame):
        """Set {{card.table.name}} from the dataframe df"""
        self._cards[{{card.index}}].table = df

{% elif card.variable %}
    @property
    def {{card.variable.name}}(self) -> SeriesCard:
        """{{card.variable.help}}."""
        return self._cards[{{card.index}}]

    @{{card.variable.name}}.setter
    def {{card.variable.name}}(self, value: typing.List) -> None:
        self._cards[{{card.index}}].data = value

{% elif card.set %}
    @property
    def {{card.items_name}}(self) -> typing.List[{{card.set.name}}]:
        """Gets the list of {{card.items_name}}."""
        return self._cards[{{card.index}}].items()
{% if not card.bounded %}

    def add_{{card.item_name}}(self, **kwargs):
        """Adds a {{card.item_name}}."""
        self._cards[{{card.target_index}}].add_item(**kwargs)
{% endif %}

{% elif card.table_group %}
    @property
    def {{card.overall_name}}(self) -> pd.DataFrame:
        """Gets the full table of {{card.overall_name}}."""
        return self._cards[{{card.index}}].table

    @{{card.overall_name}}.setter
    def {{card.overall_name}}(self, df: pd.DataFrame):
        """sets {{card.overall_name}} from the dataframe df."""
        self._cards[{{card.index}}].table = df

{% elif card.external %}
{% else %}
{% for field in card.fields %}
{% if field.used %}
{% if not field.redundant %}
{% set rename_info = namespace(found=none) %}
{% for rp in keyword_data.renamed_properties %}
{% if rp.property_name == field.property_name %}
{% set rename_info.found = rp %}
{% endif %}
{% endfor %}
    @property
    def {{field.property_name}}(self) -> {%- if field.default is none %} typing.Optional[
                {%- else %} {% endif %}{{field.type}}{%- if field.default is none %}]{%- endif %}:
{% if rename_info.found %}
        """Get or set the {{field.help}}

        Note: Location in manual: card:{{rename_info.found.card_index + 1}}, field: {{rename_info.found.field_name}}
        """ # nopep8
{% elif field.property_name in keyword_data.property_collisions %}
        """Get or set the {{field.help}}

        Note: {{keyword_data.property_collisions[field.property_name]}}
        """ # nopep8
{% else %}
        """Get or set the {% filter indent(width=8) %}{{field.help}}
        {% endfilter %}
        """ # nopep8
{% endif %}
        return self._cards[{{card.index}}].get_value("{{field.name}}")

{% if not field.readonly %}
    @{{field.property_name}}.setter
    def {{field.property_name}}(self, value: {{field.type}}) -> None:
        """Set the {{field.property_name}} property."""
        {% if field.options %}
        if value not in [{{ field.options|join(', ')}}, None]:
            raise Exception("""{{field.property_name}} must be `None` or one of {{openbrace}}{{ field.options|join(',')}}{{closebrace}}.""")
        {% endif %}
{% if field.card_indices %}
{% for card_index in field.card_indices %}
        self._cards[{{card_index}}].set_value("{{field.name}}", value)
{% endfor %}{# card_index in field.card_indices #}
{% else %}
        self._cards[{{card.index}}].set_value("{{field.name}}", value)
{% endif %}{# card.indices #}

{% endif %}{# not field.readonly #}
{% endif %}{# not field.redundant #}
{% endif %}{# field.used #}
{% endfor %}{#field in card.fields #}
{% endif %}