{% if card.variable %}
            SeriesCard(
                "{{card.variable.name}}",
                {{card.variable.size}},
                {{card.variable.width}},
                {{card.variable.type}},
{% if card.variable.length_func %}
                lambda: {{card.variable.length_func}},
{% else %}
                None,
{% endif %}{# card.variable.length_func #}
{% if card.variable.active_func %}
                lambda: {{card.variable.active_func}},
{% endif %}{# card.variable.active_func #}
                data = kwargs.get("{{card.variable.name}}")),
{% elif card.set %}
            CardSet(
                {{card.set.name}},
{% if card.length_func %}
                length_func = lambda: {{card.length_func}},
{% endif %}{# card.length_func #}
{% if card.active_func %}
                active_func = lambda: {{card.active_func}},
{% endif %}{# card.active_func #}
{% if keyword_data.card_sets %}
{% if keyword_data.card_sets.options %}
                option_specs = {{card.set.name}}.option_specs,
{% endif %}{# keyword_data.card_sets.options #}
{% endif %}{# keyword_data.card_sets #}
                **kwargs
            ),
{% elif card.table %}
            TableCard(
                [
{% for field in card.fields %}
                    Field("{{field.name}}", {{field.type}}, {{field.position}}, {{field.width}}, {{field.default}}),
{% endfor %}{# field in card.fields #}
                ],
{% if card.table.length_func %}
                lambda: {{card.table.length_func}},
{% else %}{# card.table.length_func #}
                None,
{% endif %}
{% if card.table.active_func %}
                lambda: {{card.table.active_func}},
{% endif %}
                name="{{card.table.name}}",
                **kwargs,
            ),
{% elif card.table_group %}
            TableCardGroup(
                [
{% for sub_card in card.sub_cards %}
                    Card(
                            [
{% for field in sub_card.fields %}
                                Field(
                                    "{{field.name}}",
                                    {{field.type}},
                                    {{field.position}},
                                    {{field.width}},
                                ),
{% endfor %}
                            ],
{% if sub_card.func %}
                            lambda: {{sub_card.func}},
{% endif %}
                    ),
{% endfor %}
                ],
{% if card.length_func %}
                lambda: {{card.length_func}},
{% else %}
                None,
{% endif %}
{% if card.active_func %}
                lambda: {{card.active_func}},
{% else %}
                None,
{% endif %}
                "{{card.overall_name}}",
                **kwargs,
            ),
{% elif card.external %}
            {{card.external.name}}(**kwargs)
{% else %}
            Card(
                [
{% for field in card.fields %}
                    Field(
                        "{{field.name}}",
                        {{field.type}},
                        {{field.position}},
                        {{field.width}},
{% if field.default is not none %}
{% if field.readonly %}
                        Field.ReadOnlyValue({{field.default}}),
{% else %}
                        {{field.default}},
{% endif %}
                        **kwargs,
{% else %}
                        **kwargs,
{% endif %}
                    ),
{% endfor %}
                ],
{% if card.func %}
                lambda: {{card.func}},
{% endif %}
            ),
{% endif %}{# if card.variable #}