{# Template for generating class declaration and class-level attributes #}
{% if keyword_data.mixins %}
class {{keyword_data.classname}}(
    KeywordBase
{% for mixin in keyword_data.mixins %}
    , {{mixin}}
{% endfor %}
    ):
{% else %}
class {{keyword_data.classname}}(KeywordBase):
{% endif %}
{% if keyword_data.renamed_properties %}
    """DYNA {{keyword_data.title}} keyword

    Fields with renamed properties:
{% for rp in keyword_data.renamed_properties %}
        {{rp.field_name}} (Card {{rp.card_index + 1}}) -> {{rp.property_name}}
{% endfor %}
    """
{% else %}
    """DYNA {{keyword_data.title}} keyword"""
{% endif %}

    keyword = "{{keyword_data.keyword}}"
    subkeyword = "{{keyword_data.subkeyword}}"
{% if keyword_data.options %}
    option_specs = [
{% for option in keyword_data.options %}
        OptionSpec("{{option.name}}", {{option.card_order}}, {{option.title_order}}),
{% endfor %}
    ]
{% endif %}
{% if keyword_data.links %}
    _link_fields = {
{% for link in keyword_data.links %}
{% for field in link.fields %}
        "{{field.name}}": LinkType.{{link.link_type_name}},
{% endfor %}
{% endfor %}
    }
{% endif %}
{% for dataclass in keyword_data.dataclasses %}

    @dataclasses.dataclass
    class {{ dataclass.name }}:
        """Dataclass for {{ dataclass.name }}."""
{% for field in dataclass.fields %}
        {{ field.name }}: {{field.type}} = None
{% endfor %}
{% endfor %}
