{% for option in options %}
{% set option_loop = loop %}
            OptionCardSet(
                option_spec = {{parent_name}}.option_specs[{{option_loop.index-1}}],
                cards = [
{% for card in option.cards %}
                    Card(
                        [
{% for field in card.fields %}
                            Field(
                                "{{field.name}}",
                                {{field.type}},
                                {{field.position}},
                                {{field.width}},
{% if field.flag %}
                                Flag(
                                    kwargs.get("{{field.name}}", {{field.default}}),
                                    "{{field.on}}",
                                    "{{field.off}}"
                                )
{% else %}{# field.flag #}
{% if field.default is not none %}
{% if field.readonly %}
                                {{field.default}}
{% else %}{# field.readonly #}
                                kwargs.get("{{field.name}}", {{field.default}})
{% endif %}{# field.readonly #}
{% else %}{# field.readonly #}
                                kwargs.get("{{field.name}}")
{% endif %}{# field.default is not none #}
{% endif %}{# field.flag #}
                            ),
{% endfor %}{# field in card.fields #}
                        ],
{% if card.func %}
                        lambda: {{card.func}},
{% endif %}{# card.func #}
                    ),
{% endfor %}{# card in option.cards #}
                ],
                **kwargs
            ),
{% endfor %}