{% for option in options %}
{% set option_loop = loop %}
            OptionCardSet(
                option_spec = {{parent_name}}.option_specs[{{option_loop.index-1}}],
                cards = [
{% for card in option.cards %}
                    Card.from_field_schemas_with_defaults(
                        _{{parent_name | upper}}_OPTION{{option_loop.index-1}}_CARD{{loop.index0}},
{% if card.func %}
                        active_func=lambda: {{card.func}},
{% endif %}{# card.func #}
                        **kwargs,
                    ),
{% endfor %}{# card in option.cards #}
                ],
                **kwargs
            ),
{% endfor %}