ci:
  autofix_commit_msg: 'chore: auto fixes from pre-commit hooks'
  autoupdate_commit_msg: 'chore: pre-commit automatic update'
  autoupdate_schedule: weekly

files: |
    (?x)(
        ^codegen/ |
        ^src/ansys/ |
        ^examples |
        ^.github/
    )
exclude: |
    (?x)^(
        codegen/kwd.json|
        codegen/additional-cards.json|
        doc/source/|
        src/ansys/dyna/core/pre/Server/|
        src/ansys/dyna/core/pre/doc/|
        src/ansys/dyna/core/pre/DigitalWeaving_BCs.py|
        src/ansys/dyna/core/pre/kwprocess_pb2.py|
        src/ansys/dyna/core/pre/kwprocess_pb2_grpc.py|
        src/ansys/dyna/core/keywords/keyword_classes/auto/|
        src/ansys/dyna/core/keywords/keyword_classes/type_mapping.py|
        src/ansys/dyna/core/keywords/keyword_classes/auto_keywords.py|
        .*\.k$
    )
repos:

- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: 6ce4b4fc349b8881cbce40207dac3bf78824a88e # v0.14.11
  hooks:
    - id: ruff-check
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/PyCQA/flake8
  rev: 7.3.0
  hooks:
  - id: flake8

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    args: ["--ignore-words", "doc/styles/config/vocabularies/ANSYS/accept.txt", "-w"]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-merge-conflict
  - id: debug-statements
  - id: check-yaml

# this validates our github workflow files
- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.36.0
  hooks:
    - id: check-github-workflows

- repo: https://github.com/ansys/pre-commit-hooks
  rev: v0.5.2
  hooks:
    - id: add-license-headers
      files: './.*\.(py)'
      args:
      - --start_year=2023

- repo: https://github.com/zizmorcore/zizmor-pre-commit
  rev: v1.19.0
  hooks:
    - id: zizmor