name: night doc build

permissions:
  contents: read
  packages: read  # Needed for pulling container images from GHCR
on:
  schedule:
    - cron: '0 22 * * *' # Nightly at 22:00 UTC
  workflow_dispatch:
    inputs:
      pydyna-run-container:
        description: 'Run container name'
        required: false
        default: ghcr.io/ansys/pydyna-run:latest


concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  MAIN_PYTHON_VERSION: '3.13'
  PACKAGE_NAME: 'ansys-dyna-core'
  PACKAGE_NAMESPACE: 'ansys.dyna.core'
  DOCUMENTATION_CNAME: "dyna.docs.pyansys.com"
  PYDYNA_RUN_CONTAINER: ${{ github.event.inputs.pydyna-run-container || 'ghcr.io/ansys/pydyna-run:latest'}}
  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  LICENSE_SERVER: ${{ secrets.LICENSE_SERVER }}
  BOT_TOKEN: ${{ secrets.PYANSYS_CI_BOT_TOKEN }}
  BOT_USERNAME: ${{ secrets.PYANSYS_CI_BOT_USERNAME }}
  BOT_EMAIL: ${{ secrets.PYANSYS_CI_BOT_EMAIL }}

jobs:

  smoke-tests:
    name: "Build wheelhouse for ${{ matrix.os }} and Python ${{ matrix.python-version }}"
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest]
        python-version: ['3.10', '3.11', '3.12', '3.13']  # Full matrix for nightly
    steps:
      - uses: ansys/actions/build-wheelhouse@eb7d0fc873deeee6d4740774675ce1741cb6f154 # v9.0.15
        with:
          library-name: ${{ env.PACKAGE_NAME }}
          operating-system: ${{ matrix.os }}
          python-version: ${{ matrix.python-version }}

  unit-tests:
    name: "Unit testing for matrix"
    needs: [smoke-tests]
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ['3.10', '3.11', '3.12', '3.13']  # Full matrix for nightly
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Run tests
        uses: ./.github/actions/unit-test
        with:
          python-version: ${{ matrix.python-version }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          coverage-file: unittests
          pytest-markers: "not codegen and not run"

  doc-build:
    name: "Documentation build"
    runs-on: [public-ubuntu-latest-8-cores]
    timeout-minutes: 720  # With caching, incremental builds should be much faster
    steps:
      - name: "Checkout project"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
            persist-credentials: false

      - name: "Build documentation"
        uses: ./.github/actions/doc-build
        with:
          build-autokeywords-api: "True"
          pdf-pool-size: 15000000
          pdf-string-vacancies: 90000
          pdf-max-strings: 600000
          pydyna-run-container: ${{ env.PYDYNA_RUN_CONTAINER }}
          python-version: ${{ env.MAIN_PYTHON_VERSION }}
          github-token: ${{ env.GITHUB_TOKEN }}
          license-server: ${{ env.LICENSE_SERVER }}
          bot-token: ${{ env.BOT_TOKEN }}
          github-actor: ${{ github.actor }}
          persist-credentials: true
          use_cache_examples: false

  doc-deploy-dev:
    name: "Deploy development documentation"
    runs-on: ubuntu-latest
    needs: [doc-build]
    steps:
      - uses: ansys/actions/doc-deploy-dev@eb7d0fc873deeee6d4740774675ce1741cb6f154 # v9.0.15
        with:
          cname: ${{ env.DOCUMENTATION_CNAME }}
          token: ${{ env.BOT_TOKEN }}
          bot-user: ${{ env.BOT_USERNAME }}
          bot-email: ${{ env.BOT_EMAIL }}
          persist-credentials: true

