name: CI

on:
  pull_request:
  workflow_dispatch:
    inputs:
      PyDynaRunContainer:
        description: 'Run container name'
        required: false
        default: ghcr.io/ansys/pydyna-run:latest
  push:
    tags:
      - "*"
    branches:
      - main

permissions:
  contents: read
  packages: read

env:
  MAIN_PYTHON_VERSION: '3.13'
  PACKAGE_NAME: 'ansys-dyna-core'
  PACKAGE_NAMESPACE: 'ansys.dyna.core'
  DOCUMENTATION_CNAME: "dyna.docs.pyansys.com"
  PYDYNA_RUN_CONTAINER: ${{ github.event.inputs.PyDynaRunContainer || 'ghcr.io/ansys/pydyna-run:latest'}}
  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  actions-security:
    name: Actions Security
    runs-on: ubuntu-latest
    steps:
      - uses: ansys/actions/check-actions-security@46957117ba42d3d075c6cca0f6bbdc1ac2a9af04 # v10.2.0
        with:
          generate-summary: true
          token: ${{ secrets.GITHUB_TOKEN }}
          auditing-level: 'high'


  pr-name:
    if: github.event_name == 'pull_request'
    name: Check the name of the PR
    runs-on: ubuntu-latest
    steps:
      - name: Check commit name
        uses: ansys/actions/check-pr-title@46957117ba42d3d075c6cca0f6bbdc1ac2a9af04 # v9.0.15
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  code-style:
    name: "Code style"
    runs-on: ubuntu-latest
    steps:
      - uses: ansys/actions/code-style@46957117ba42d3d075c6cca0f6bbdc1ac2a9af04 # v9.0.15
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}

  vulnerabilities:
    name: Vulnerabilities
    runs-on: ubuntu-latest
    steps:
      - uses: ansys/actions/check-vulnerabilities@46957117ba42d3d075c6cca0f6bbdc1ac2a9af04 # v10.2.0
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}
          python-package-name: ${{ env.PACKAGE_NAME }}
          token: ${{ secrets.PYANSYS_CI_BOT_TOKEN }}
          dev-mode: ${{ github.ref != 'refs/heads/main' }}

  codegen-testing:
    name: Build and Testing for codegen
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - uses: ./.github/actions/test-codegen
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}

  doc-style:
    name: "Documentation style"
    runs-on: ubuntu-latest
    steps:
      - name: PyAnsys documentation style checks
        uses: ansys/actions/doc-style@46957117ba42d3d075c6cca0f6bbdc1ac2a9af04 # v9.0.15
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  doc:
    name: "Documentation build"
    runs-on: ubuntu-latest
    needs: [doc-style]
    steps:
      - name: "Checkout project"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: true

      - name: "Build documentation"
        uses: ./.github/actions/doc-build
        with:
          timeout-mins: 7200
          PyDynaRunContainer: ${{ env.PYDYNA_RUN_CONTAINER }}
          python-version: ${{ env.MAIN_PYTHON_VERSION }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          license-server: ${{ secrets.LICENSE_SERVER }}
          bot-token: ${{ secrets.PYANSYS_CI_BOT_TOKEN }}
          github-actor: ${{ github.actor }}

  smoke-tests:
    name: "Build wheelhouse for ${{ matrix.os }} and Python ${{ matrix.python-version }}"
    runs-on: ${{ matrix.os }}
    needs: [code-style]
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest]
        python-version: ['3.10', '3.11', '3.12', '3.13']
    steps:
      - uses: ansys/actions/build-wheelhouse@46957117ba42d3d075c6cca0f6bbdc1ac2a9af04 # v9.0.15
        with:
          library-name: ${{ env.PACKAGE_NAME }}
          operating-system: ${{ matrix.os }}
          python-version: ${{ matrix.python-version }}


  keyword-testing:
    name: "Keyword testing for matrix"
    needs: [smoke-tests]
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ['3.10', '3.11', '3.12', '3.13']
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Run test with "keywords" marker
        uses: ./.github/actions/unit-test
        with:
          python-version: ${{ matrix.python-version }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          pytest-markers: keywords
          coverage-file: keywords

  run-testing:
    name: Test the "run" subpackage
    runs-on: ubuntu-latest
    # needs: [smoke-tests]
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - uses: ./.github/actions/unit-test
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          docker-image: ${{ env.PYDYNA_RUN_CONTAINER }}
          pytest-markers: run
          license-server: ${{ secrets.LICENSE_SERVER }}
          coverage-file: run

  unit-tests:
    name: "Testing"
    runs-on: ubuntu-latest
    needs: [keyword-testing, run-testing, codegen-testing]
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Run test without marker
        uses: ./.github/actions/unit-test
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          server-logs: true
          codecov-token: ${{ env.CODECOV_TOKEN }}
          coverage-file: unittests

  build-library:
    name: "Build library"
    needs: [doc, unit-tests]
    runs-on: ubuntu-latest
    steps:
      - uses: ansys/actions/build-library@46957117ba42d3d075c6cca0f6bbdc1ac2a9af04 # v9.0.15
        with:
          library-name: ${{ env.PACKAGE_NAME }}
          python-version: ${{ env.MAIN_PYTHON_VERSION }}