name: Docker images publishing

permissions:
  contents: read  # Needed to checkout code
  packages: read  # Needed for pulling container images from GHCR

on:
  workflow_dispatch:
    inputs:
      tagVersion:
        description: 'Tag'
        required: false
        default: latest
  push:
    tags:
      - "v*.*.*"

env:
  REGISTRY: ghcr.io
  REPO_NAME: ${{ github.repository }}
  IMAGE_TAG: ${{ github.event.inputs.tagVersion || 'latest'}}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pydyna-run-containers:
    name: Build the pydyna-run docker image
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          persist-credentials: false

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v.11.1

      - name: Login to ghcr.io
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and export to Docker
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: docker/run
          file: docker/run/Dockerfile
          push: true
          tags: ${{ env.REGISTRY }}/ansys/pydyna-run:${{ env.IMAGE_TAG }}
          cache-from: type=registry,ref=${{ env.REGISTRY }}/ansys/pydyna-run:latest
